<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-brand-color">
        <img src="~/images/logo-card.png" width="48" height="48" class="d-inline-block align-top nav-logo-space" alt="Pick-em logo" />
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            </ul>
        </div>
    </nav>
</header>